@import "_variables.scss";
@import "_fonts.scss";

//Placeholders
%dropcap{
	float: left;
	font-size: 3.157em;
	padding: 0.15em;
	padding-right: 0.25em;
	padding-bottom: 0;
	margin: 0em;
	color: $Ash-dim;
	text-shadow: 0px 0px 16px $Wisteria;
}


//Mixins

@mixin vendors ($property, $value){
	-webkit-#{$property}: #{$value};
	-moz-#{$property}: #{$value};
	-ms-#{$property}: #{$value};
	-o-#{$property}: #{$value};
	#{$property}: #{$value};
}

@mixin hw($height, $width){
	height: $height;
	width: $width;
}
