//Color Scheme

$Orinoco: #E3F9CE; //base color
$Fern: #5C7940;
$Rainee: #B4C6A4;
$Ash: #6F7964;
$Mindaro: #BEFA84;
$Wisteria: #A56CAC;
$Perfume: #F4CEF9;

//Font Sizes

$geometria-h1: 3.998em;
$geometria-h2: 2.827em;
$geometria-h3: 1.999em;
$geometria-base: 1.25em;

//Misc

$imgtxt-overlay-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
