

//Color Scheme

$Orinoco: #E3F9CE; //base color
$Fern: #5C7940;
$Rainee: #B4C6A4;
$Ash: #6F7964;
	//mixin for body copy color
	$Ash-dim: darken($Ash, 20%);
	$Ash-darken: darken($Ash, 40%);
	$black: $Ash-darken;
	$Ash-lighten: lighten($Ash, 52%);
	$white: $Ash-lighten;
$Mindaro: #BEFA84;
$Wisteria: #A56CAC;
$Perfume: #F4CEF9;


//Backgrounds by Andrew Hickman urls based on color scheme. Open source.



//Misc

$imgtxt-overlay: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65));
$imgtxt-overlay-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));



$line-height: 1.429;
$line-height-min: 1.25;