@import "_variables.scss";
@import "_mixin.scss";
@import "_fonts.scss";

*{
	box-sizing: border-box;
	moz-box-sizing: border-box;
}

html{
	font-size: 16px;
}

body{
	background: $Orinoco;
}

		header{
			display: block;
			position: absolute;
			background: $imgtxt-overlay-gradient, url('../imgs/bg_grass.jpg');
			@include hw (100%, 100%);
			font-family: 'Geometria', sans-serif;


			img[src*="logo"]{
				display: block;
				@include hw(auto, 72%);
				margin: 2em auto;
				border-radius: 15%;
			}

			h1{
				text-align: center;
				font-size: $geometria-h1;
				color: #feffef;

			}

			h2{
				display: none;
			}

			.header-bottom{
				position: absolute;
				bottom: 0;
				@include hw(20%, 100%);
				background: $Orinoco;
				@include vendors (box-shadow, inset 0px 0.8em 0.65em -0.2em rgba(111,121,100,1));

				button{
					display: block;
					background: transparent;
					margin: 2.2em auto 0.5em;
					color: $Ash;
					@include vendors (transform, rotate(90deg));
				}
			}
		}

p{
	font-size: $geometria-base;
	color: #000;
	font-family: 'Geometria';
}