@import "_variables.scss";
@import "_mixin.scss";
@import "_fonts.scss";
@import "slicknav.scss";

*{
	box-sizing: border-box;
	moz-box-sizing: border-box;
}

html{
	font-size: 16px;
}

body{
	background: $Orinoco;
	width: 100%;
}

#mobile-intro{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	background: $imgtxt-overlay-gradient, url('../imgs/bg_grass.jpg');
	@include hw (100%, 100%);
	font-family: 'Geometria', sans-serif;


	img[src*="logo"]{
		display: block;
		@include hw(auto, 62%);
		margin: 2em auto 0.75em;
		border-radius: 15%;
	}

	h1{
		text-align: center;
		color: $white;

	}

	h2{
		display: none;
	}

	.mobile-intro-bottom{
		position: absolute;
		bottom: 0;
		@include hw(20%, 100%);
		background: $Orinoco;
		@include vendors (box-shadow, inset 0px 0.6em 0.7em -0.2em $Ash);

		button{
			display: block;
			background: transparent;
			margin: 1.9em auto 0.5em;
			color: $Ash;

			&:focus{
				outline: 0;
			}
		}
	}

	@media screen and (min-width: 650px){
		display: none;
	}
}

header{
	display: none;
	height: 80%;
	background: $imgtxt-overlay-gradient, url('../imgs/bg_grass.jpg');
	padding: 1.2em;
	padding-bottom: 4em;
	border-radius: 0 0 4.4% 4.4%;

	h1{
		display: none;
	}

	@media screen and (min-width: 650px){
		display: block;

		h1{
			display: block;
		}
	}
}

.slicknav_menu{
	display: block;
	margin-bottom: 4em;
	-webkit-box-shadow: 0px 30px 120px -16px $Mindaro;
	-moz-box-shadow: 0px 30px 120px -16px $Mindaro;
	box-shadow: 0px 30px 120px -16px $Mindaro;

	img{
		display: block;
		position: absolute;
		bottom: 0.5em;
		right: 5%;
		max-width: 27.5%;
		border-radius: 15%;
		box-shadow: 0 0 0.5em 0.05em $Mindaro;
	}

	@media screen and (min-width: 650px){
		display: none;
	}
}

nav{
	width: 100%;

	#menu{
		display: none;
		width: 100%;
		text-align: center;

	a{
		display: inline-block;
		width: 10%;
		padding: 0.4em;
		background: $Ash;
		color: $white;
	}

		@media screen and (min-width: 650px){
			display: block;

			img{
				max-width: 25%;
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
}

#content-wrap{
	@include hw (auto, 100%);
	position: absolute;
	z-index: -1000;
	margin-top: 3em;
	padding-top: 1.5em;
}

.carousel{
	display: block;
	height: 19em;
	width: 100%;
	div{
		height: 19em;
		border-radius: 4%;
		width: 100%;
		text-align: center;
		line-height: $line-height-min;

		.slide-1{
			background: $imgtxt-overlay, url('../imgs/logo_border.jpg');
			background-size: cover;
			color: $white;
			text-align: center;


			h1{
				margin-top: 0.4em;
			}

			h3{
				margin-top: 1.2em;
				width: 100%;
				color: $white;
			}

			@media screen and (min-width: 650px){
				background: url(../imgs/rainee-bg.png);
			}


			img[src*="logo"]{
				display: none;

				@media screen and (min-width: 650px){
					display: block;
				}
			}
		}

		.slide-2{
			background: url('../imgs/ash-bg.png');
			color: $white;

			h2{
				width: 100%;
				text-align: center;
				margin-top: 5em;
			}
		}

		.slide-3{
			background: url('../imgs/rainee-bg.png');
			color: $black;

			h2{
				margin-top: 5em;
				width: 100%;
				text-align: center;
			}		
		}

		@media screen and (min-width: 650px){
			border-radius: 0;
		}
	}
}

.cta{
	@include hw(auto, 98%);
	margin: 0 auto;
	color: $Ash-dim;
	line-height: $line-height-min;

	h3{
		text-align: center;
		margin: 1.25em 0 0.5em;
	}

	button{
		@include hw(auto, 80%);
		background: $Mindaro;
		color: $Fern;
		margin: 0 auto;
		padding: 0.75em;
		text-align: center;
		border-radius: 17.5%;
		box-shadow: 1px 0.2em 0.4em $Ash;
		font-size: 1.333em;

		&:focus{
			outline: 0;
		}

		&:active{
		box-shadow: inset 1px 0.2em 0.4em $Ash;
		}
	}
}

p{
	width: 96%;
	margin: 1.3em auto 0;
	text-align: left;
	line-height: $line-height;

	img[src*="logo"]{
		display: block;
		margin: 1.2em auto;
		@include hw(auto, 70%)
	}

	&.welcome{
		color: $Ash-darken;

	&::first-line{
		font-family: 'Geometria', sans-serif;
		font-size: 1.6em;
		text-align: center;
	}
	}

}

.values{
	text-align: center;
}

.social-cta{
	width: 30%;
	margin: 1.4em auto;
	margin-bottom: 2em;

	.icon-facebook{
		float: left;
		@include vendors(transition-duration, 0.4s);

		&:hover{
			@include vendors(transform, scale(1.25, 1.25));
		}
	}

	.icon-twitter{
		float: right;
		@include vendors(transition-duration, 0.4s);

		&:hover{
			@include vendors(transform, scale(1.25, 1.25));
		}
	}

	h2{
		display: none;
	}

	@media screen and (min-width: 650px){
		h2{
			display: block;
		}
	}
}