@import "variables.scss";
@import "mixin.scss";
@import "fonts.scss";
@import "slicknav.scss";

*{
	box-sizing: border-box;
	moz-box-sizing: border-box;
}

html{
	font-size: 16px;
}

body{
	background: $Orinoco;
	width: 100%;
}

#mobile-intro{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	background: $imgtxt-overlay-gradient, url('../imgs/bg_grass.jpg');
	@include hw (100%, 100%);
	font-family: 'Geometria', sans-serif;


	img[src*="logo"]{
		display: block;
		@include hw(auto, 62%);
		margin: 2em auto 0.75em;
		border-radius: 15%;
	}

	h1{
		text-align: center;
		color: $white;
		text-shadow: 0 0 20px $black;

	}

	h2{
		display: none;
	}

	.mobile-intro-bottom{
		position: absolute;
		bottom: 0;
		@include hw(20%, 100%);
		background: $Orinoco;
		@include vendors (box-shadow, inset 0px 0.6em 0.7em -0.2em $Ash);

		button{
			display: block;
			background: transparent;
			margin: 1.9em auto 0.5em;
			color: $Ash;

			&:focus{
				outline: 0;
			}
		}
	}

	@media screen and (min-width: 615px){
		display: none;
	}
}

header{
	position: relative;
	display: none;
	@include hw (80%, 100%);
	background: url(../imgs/fern-bg.png);
	padding: 1.2em;
	padding-bottom: 4em;
	border-radius: 0 0 4.4% 4.4%;
	color: $black;
	@include vendors (box-shadow, 0px 0.6em 0.7em -0.2em $Ash);

	h1{
		font-size: 5.375em;
		margin-left: 20%;
		text-shadow: 0 0 20px $Orinoco;
		color: $Orinoco;
	}

	h2{
		font-family: 'Merriweather', serif;
		font-size: 1.777em;
		letter-spacing: 0.04em;
		text-align: left;
		margin-left: 0.5%;
		margin-top: 0;
		color: $Orinoco;

		@media screen and (min-width: 1150px){
		}
	}

	/*Edit slogan if need be

	.slogan{};

	*/


	@media screen and (min-width: 615px){
		display: block;
		border-radius: 0;
	}
}

.slicknav_menu{
	display: block;
	margin-bottom: 4em;
	-webkit-box-shadow: 0px 30px 120px -16px $Mindaro;
	-moz-box-shadow: 0px 30px 120px -16px $Mindaro;
	box-shadow: 0px 30px 120px -16px $Mindaro;

	img{
		display: block;
		position: absolute;
		bottom: 0.5em;
		right: 5%;
		max-width: 27.5%;
		border-radius: 15%;
		box-shadow: 0 0 0.5em 0.05em $Mindaro;
	}

	@media screen and (min-width: 615px){
		display: none;
	}
}

nav{
	display: none;
	width: 100%;
	height: 5em;
	background: url('../imgs/ash-bg.png');
	border-top: 0.15em solid $Orinoco;
	border-bottom: 0.15em solid $Ash-darken;

	&.fix{
		position: fixed;
		top: 0;
		width: 100%;
	}

	#menu{
		max-width: 100%;
		width: 100%;
		margin:0;
		text-align: center;

	a{
		display: inline-block;
		padding: 0.75em;
		margin: 0.4em 0.4em 0 0.4em;
		background: $Orinoco;
		box-shadow: inset 0 0 0.1em $white;
		color: $Ash-dim;
		font-size: 1.5em;
		font-family: 'Geometria', sans-serif;
		border-radius: 12.5%;
		text-decoration: none;
		@include vendors (box-shadow, inset 0px 0px 0.5em 0px $Ash);
	}


	img{
		max-width: 25%;
		position: absolute;
		top: 0.5em;
		right: 0.5em;
	}

		@media screen and (min-width: 1150px){
			display: block;
			margin-left: 1.25%;
			text-align: left;
		}
	}

	@media screen and (min-width: 615px){
		display: block;
	}
}

#content-wrap{
	@include hw (auto, 100%);
	position: absolute;
	margin-top: 3em;
	z-index: -1000;
	padding-top: 1.5em;
}

.carousel{
	display: block;
	height: 19em;
	width: 100%;
	div{
		height: 19em;
		border-radius: 4%;
		width: 100%;
		text-align: center;
		line-height: $line-height-min;

		.slide-1{
			background: $imgtxt-overlay, url('../imgs/logo_border.jpg');
			background-size: cover;
			color: $white;
			text-align: center;


			h1{
				margin-top: 0.4em;
			}

			h3{
				margin-top: 1.2em;
				width: 100%;
				color: $white;
			}

			@media screen and (min-width: 615px){
				background: url(../imgs/rainee-bg.png);
			}


			img[src*="logo"]{
				display: none;

				@media screen and (min-width: 615px){
					display: block;
				}
			}
		}

		.slide-2{
			background: url('../imgs/ash-bg.png');
			color: $white;

			h2{
				width: 100%;
				text-align: center;
				margin-top: 5em;
			}
		}

		.slide-3{
			background: url('../imgs/rainee-bg.png');
			color: $black;

			h2{
				margin-top: 5em;
				width: 100%;
				text-align: center;
			}	
		}

		@media screen and (min-width: 615px){
			border-radius: 0;
			@include hw(19em, 100%);
		}

		@media screen and (min-width: 1150px){
			@include hw (24em, 100%);
		}
	}

	@media screen and (min-width: 615px){
		height: 19em;
		max-width: 90%;
		margin: 0 auto;
		box-shadow: 1px 0.2em 0.4em $Ash;
	}

	@media screen and (min-width: 1150px){
		@include hw(24em, 60%);
		margin-left: 4%;
		float: left;
	}
}

.cta{
	@include hw(auto, 98%);
	margin: 0 auto;
	color: $Ash-dim;
	line-height: $line-height-min;

	h3{
		text-align: center;
		margin: 1.25em 0 0.5em;
	}

	button{
		@include hw(auto, 80%);
		background: desaturate($Mindaro, 5%);
		color: $Ash-dim;
		margin: 0 auto;
		padding: 0.75em;
		text-align: center;
		border-radius: 17.5%;
		box-shadow: 1px 0.2em 0.4em $Ash;
		font-size: 1.333em;

		h3{
			margin: 0;
		}

		&:focus{
			outline: 0;
		}

		&:active{
		box-shadow: inset 1px 0.2em 0.4em $Ash;
		}

		@media screen and (min-width: 1150px){
			width: 80%;
			right: 0.5%;
		}
	}

	@media screen and (min-width: 1150px){
		float: right;
		width: 25%;
		height: auto;
		margin-right: 5%;
	}
}

p.welcome{
	width: 96%;
	margin: 1.3em auto 0;
	text-align: left;
	clear: both;
	color: $Ash-darken;

	img[src*="logo"]{
		display: block;
		margin: 1.2em auto;
		@include hw(auto, 70%)
	}

	&::first-line{
		font-family: 'Geometria', sans-serif;
		font-size: 1.6em;
		text-align: center;
		}

	@media screen and (min-width: 615px){
		width: 65%;
		padding-top: 4em;

		img{
			float: right;
			max-width: 20%;
			margin: 2em;
		}
	}
}


table{
}

.values{
	text-align: center;
	background: $Rainee;
	color: $Ash-darken;

	@media screen and (min-width: 615px){
		max-width: 65%;
		float: left;
		padding: 0.5em;
	}

}

.social-cta{
	width: 30%;
	margin: 1.4em auto;
	margin-bottom: 2em;

	.icon-facebook{
		float: left;
		@include vendors(transition-duration, 0.4s);

		&:hover{
			@include vendors(transform, scale(1.25, 1.25));
		}

		@media screen and (min-width: 615px){
			float: none;
		}

		@media screen and (min-width: 1150px){
			float: left;

			> h2{
				float: right;
			}
		}
	}

	.icon-twitter{
		float: right;
		@include vendors(transition-duration, 0.4s);

		&:hover{
			@include vendors(transform, scale(1.25, 1.25));
		}

		@media screen and (min-width: 615px){
			float: none;
		}

		@media screen and (min-width: 1150px){
			float: left;

			> h2{
				float: right;
			}
		}
	}

	h2{
		display: none;
	}

	@media screen and (min-width: 615px){
		float: right;
		max-width: 30%;
		margin-top: 5em;
	}

	@media screen and (min-width: 1150px){

		h2{
			display: block;
		}
	}
}

/****************** SHOP *******************/

#store{
	margin-top: 10em;
}

a.anchor{
	text-decoration: none;
	color: $Ash-dim;

		@media screen and (min-width: 615px){
		}

		@media screen and (min-width: 1150px){
			width: 70%;
		}

	div.heading{
		position: relative;
		height: 5.25em;
		background: url('../imgs/rainee-bg.png');
		margin: 2em auto 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		cursor: pointer;
		border-radius: 50% 50% 0 0;
		border: 2px solid $Ash;
		border-left: none;
		border-right: none;

		h1{
			margin: 0 auto;
			text-align: center;
			font-size: 2.369em;
		}

		@media screen and (min-width: 615px){
		}

		@media screen and (min-width: 1150px){
			width: 70%;
		}
	}
}

section.category{
	padding: 0.25em;
	background: url('../imgs/ash-bg.png');
	color: $Orinoco;
	letter-spacing: 0.2px;
	line-height: 1.2;
	margin: 0 auto;

	h2{
		margin: 0.5em;
		text-align: center;
		color: $Orinoco;
	}

	p{
		width: 80%;
		margin: 0.75em auto;
		text-align: center;
	}

		@media screen and (min-width: 615px){
		}

		@media screen and (min-width: 1150px){
			width: 70%;
		}
}

/************************

MISSION PAGE

*************************/

.mission{
	width: 60%;
	margin: 0 auto;
	margin-top: 4em;
}

/************************

CONTACT PAGE

*************************/

.contact-icons{
	width: 80%;
	margin: 4em auto;
}

.contact-h2{
	float: right;
	margin: 0;
	text-align: left;
}


footer{
	display: block;
	bottom: 0;
	margin-top: 2em;
	clear: both;
	height: 15em;
	width: 100%;
	background: $Ash;
}